.card-body div span{
    border-radius: 5px;
    padding: 0 10px;
}

.card-body div .btn{
    background-color: lemonchiffon;
    color: orange;
    height: 30px;
    font-size: 10px;
    font-weight: bold;
}